<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/business.css}" rel="stylesheet" />
<title>加气站管理系统</title>
</head>
<body>
<div th:include="header" style="width:100%;"></div>
<div class="business" ng-controller="business">
    <div class="left-nav border left">
        <div class="title block-title">
            <span>业务类型</span>
        </div>
        <div class="left-nav-item " ng-class="{leftActive:currentBusiness=='cost'}" ng-click="changeBusiness('cost')">消费</div>
        <div class="left-nav-item" ng-class="{leftActive:currentBusiness=='recharge'}" ng-click="changeBusiness('recharge')">充值</div>
        <div class="left-nav-item" ng-class="{leftActive:currentBusiness=='faka'}" ng-click="changeBusiness('faka')">发卡</div>
        <div class="left-nav-item" ng-class="{leftActive:currentBusiness=='guashi'}" ng-click="changeBusiness('guashi')">挂失</div>
        <div class="left-nav-item" ng-class="{leftActive:currentBusiness=='jihuo'}" ng-click="changeBusiness('jihuo')">激活</div>
        <div class="left-nav-item" ng-class="{leftActive:currentBusiness=='cardlist'}" ng-click="changeBusiness('cardlist')">卡列表</div>
    </div>
    <div class="main">
        <div class="business-block cost border" ng-show="currentBusiness=='cost'">
            <div class="title block-title">
                <span>消费</span>
            </div>
            <div>
                <div>
                    <span>用户手机号:</span>
                    <input ng-model="cost.phoneNumber" type="text" />
                </div>
                <div>
                    <span>加气量:</span>
                    <input ng-model="cost.gasAmount" type="text" />
                </div>
                <div>
                    <span>单价:</span>
                    <input ng-model="cost.price" type="text" />
                </div>
                <div>
                    <span>总价:</span>
                    <input ng-model="cost.totalPrice" type="text" readonly="readonly"/>
                </div>
                <div>
                    <span>清除</span>
                    <span ng-click="cost.submit()">提交</span>
                </div>
            </div>
        </div>
        <div class="business-block recharge border" ng-show="currentBusiness=='recharge'">
            <div class="title block-title">
                <span>充值</span>
            </div>
            <div>
                <div>
                    <span>用户手机号:</span>
                    <input ng-model="recharge.phone" type="text" />
                </div>
                <div>
                    <span>卡号确认:</span>
                    <input ng-model="recharge.phoneAgain" type="text" />
                </div>
                <div>
                    <span>充值金额:</span>
                    <input ng-model="recharge.money" type="text" />
                </div>
                <div>
                    <span>清除</span>
                    <span ng-click="recharge.submit()">提交</span>
                </div>
            </div>
        </div>
        <div class="business-block faka border" ng-show="currentBusiness=='faka'">
            <div class="title block-title">
                <span>发卡</span>
            </div>
            <div>
                <div>
                    <span>姓名:</span>
                    <input type="text" ng-model="faka.user.name"/>
                </div>
                <div>
                    <span>手机号:</span>
                    <input type="text" ng-model="faka.user.phone"/>
                </div>
                <div>
                    <span>身份证号:</span>
                    <input type="text" ng-model="faka.user.cardid"/>
                </div>
                <div>
                    <span>车牌号:</span>
                    <input type="text" ng-model="faka.car.number"/>
                </div>
                <div>
                    <span>车类型:</span>
                    <select ng-model="faka.car.typeid">
                        <option ng-repeat="type in faka.cartypes" value="{{type.id}}">{{type.name}}</option>
                    </select>
                </div>
                <div>
                    <span>清除</span>
                    <span ng-click="faka.submit()">提交</span>
                </div>
            </div>
        </div>
        <div class="business-block guashi border" ng-show="currentBusiness=='guashi'">
            <div class="title block-title">
                <span>挂失</span>
            </div>
            <div>
                <span>身份证号:</span>
                <input ng-model="guashi.idcard" type="text" />
                <span ng-click="guashi.findCard()">提交</span>
            </div>
            <div class="search-result" ng-show="guashi.card">
                <ul>
                    <li class="col1">卡号</li>
                    <li class="col2">用户名</li>
                    <li class="col3">手机号</li>
                    <li class="col4">车牌号</li>
                    <li class="col5">余额</li>
                    <li class="col6">卡类型</li>
                    <li class="col7">卡状态</li>
                </ul>
                <ul>
                    <li class="col1">{{guashi.card.id}}</li>
                    <li class="col2">{{guashi.card.user.name}}</li>
                    <li class="col3">{{guashi.card.user.number}}</li>
                    <li class="col4">{{guashi.card.user.car.carNumber}}</li>
                    <li class="col5">{{guashi.card.balance}}</li>
                    <li class="col6">{{guashi.card.type.name}}</li>
                    <li class="col7">{{guashi.card.state.name}}</li>
                </ul>
                <span class="btn" ng-click="guashi.unbanCard()">挂失</span>
            </div>
        </div>
        <div class="business-block jihuo border" ng-show="currentBusiness=='jihuo'">
            <div class="title block-title">
                <span>激活</span>
            </div>
            <div>
                <span>身份证号:</span>
                <input ng-model="jihuo.idcard" type="text" />
                <span ng-click="jihuo.findCard()">提交</span>
            </div>
            <div class="search-result" ng-show="jihuo.card">
                <ul>
                    <li class="col1">卡号</li>
                    <li class="col2">用户名</li>
                    <li class="col3">手机号</li>
                    <li class="col4">车牌号</li>
                    <li class="col5">余额</li>
                    <li class="col6">卡类型</li>
                    <li class="col7">卡状态</li>
                </ul>
                <ul>
                    <li class="col1">{{jihuo.card.id}}</li>
                    <li class="col2">{{jihuo.card.user.name}}</li>
                    <li class="col3">{{jihuo.card.user.number}}</li>
                    <li class="col4">{{jihuo.card.user.car.carNumber}}</li>
                    <li class="col5">{{jihuo.card.balance}}</li>
                    <li class="col6">{{jihuo.card.type.name}}</li>
                    <li class="col7">{{jihuo.card.state.name}}</li>
                </ul>
                <span class="btn" ng-click="jihuo.unbanCard()">激活</span>
            </div>
        </div>
        <div class="business-block cardlist border" ng-show="currentBusiness=='cardlist'">
            <div class="title block-title">
                <span>列表</span>
            </div>
            <div class="table">
                <ul>
                    <li class="col1">卡号</li>
                    <li class="col2">用户名</li>
                    <li class="col3">手机号</li>
                    <li class="col4">车牌号</li>
                    <li class="col5">余额</li>
                    <li class="col6">卡类型</li>
                    <li class="col7">卡状态</li>
                    <li class="col8">操作</li>
                </ul>
                <ul ng-repeat="card in cardlist.cards">
                    <li class="col1">{{card.id}}</li>
                    <li class="col2">{{card.user.name}}</li>
                    <li class="col3">{{card.user.number}}</li>
                    <li class="col4">{{card.user.car.carNumber}}</li>
                    <li class="col5">{{card.balance}}</li>
                    <li class="col6">{{card.type.name}}</li>
                    <li class="col7">{{card.state.name}}</li>
                    <li class="col8">
                        <a ng-click="cardlist.banCard(card.id)">禁用</a>
                        <a ng-click="cardlist.unbanCard(card.id)">激活</a>
                    </li>
                </ul>
            </div>
            <pagenation go-page="cardlist.gotoPage(page)" total-pages="cardlist.totalPages" change-size="changeRowNums(num)"></pagenation>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/business.js"></script>
</body>
</html>