<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/business.css}" rel="stylesheet" />
<title>加气站管理系统</title>
</head>
<body>
<div th:include="header" style="width:100%;"></div>
<div class="business" ng-controller="business">
    <div class="left-nav panel panel-primary left">
        <div class="panel-heading">
            <span>业务类型</span>
        </div>
        <div class="left-nav-item " ng-class="{leftActive:currentBusiness=='cost'}" ng-click="changeBusiness('cost')">消费</div>
        <div class="left-nav-item" ng-class="{leftActive:currentBusiness=='recharge'}" ng-click="changeBusiness('recharge')">充值</div>
        <div class="left-nav-item" ng-class="{leftActive:currentBusiness=='faka'}" ng-click="changeBusiness('faka')">发卡</div>
        <div class="left-nav-item" ng-class="{leftActive:currentBusiness=='guashi'}" ng-click="changeBusiness('guashi')">管理卡</div>
        <!-- <div class="left-nav-item" ng-class="{leftActive:currentBusiness=='jihuo'}" ng-click="changeBusiness('jihuo')">激活</div> -->
        <div class="left-nav-item" ng-class="{leftActive:currentBusiness=='cardlist'}" ng-click="changeBusiness('cardlist')">卡列表</div>
        <div class="left-nav-item" ng-class="{leftActive:currentBusiness=='qrcode'}" ng-click="changeBusiness('qrcode')">公司名片</div>
    </div>
    <div class="main">
        <div class="business-block cost panel panel-primary" ng-show="currentBusiness=='cost'">
            <div class="panel-heading">
                <span>消费</span>
            </div>
            <div class="cost-table" id="cost">
                <div>
                    <span class="">用户手机号:</span>
                    <input class="form-control" require="number(11)" ng-model="cost.phoneNumber" type="text" />
                </div>
                <div>
                    <span class="">加气量:</span>
                    <input class="form-control" require="number" ng-model="cost.gasAmount" type="text" />
                </div>
                <div>
                    <span class="">单价:</span>
                    <input class="form-control" require="number" ng-model="cost.price" type="text" />
                </div>
                <div>
                    <span class="">总价:</span>
                    <input class="form-control" ng-model="cost.totalPrice" type="text" readonly="readonly"/>
                </div>
                <div style="text-align:center;margin-top: 25px;">
                    <span class="btn btn-primary">清除</span>
                    <span class="btn btn-primary" style="margin-left: 50px;" ng-click="cost.submit()">提交</span>
                </div>
            </div>
        </div>
        <div class="business-block recharge panel panel-primary" ng-show="currentBusiness=='recharge'">
            <div class="panel-heading">
                <span>充值</span>
            </div>
            <div class="cost-table" id="recharge">
                <div>
                    <span>用户手机号:</span>
                    <input class="form-control" require="number(11)" ng-model="recharge.phone" type="text" />
                </div>
                <div>
                    <span>手机号确认:</span>
                    <input class="form-control" require="number(11)" ng-model="recharge.phoneAgain" type="text" />
                </div>
                <div>
                    <span>充值金额:</span>
                    <input class="form-control" require="number" ng-model="recharge.money" type="text" />
                </div>
                <div style="text-align:center;margin-top: 25px;">
                    <span class="btn btn-primary">清除</span>
                    <span class="btn btn-primary" style="margin-left: 50px;" ng-click="recharge.submit()">提交</span>
                </div>
            </div>
        </div>
        <div class="business-block faka panel panel-primary" ng-show="currentBusiness=='faka'">
            <div class="panel-heading">
                <span>发卡</span>
            </div>
            <div class="cost-table" id="faka">
                <div>
                    <span>姓名:</span>
                    <input class="form-control" require="notEmpty"  type="text" ng-model="faka.user.name"/>
                </div>
                <div>
                    <span>手机号:</span>
                    <input class="form-control" require="number(11)"  type="text" ng-model="faka.user.phone"/>
                </div>
                <div>
                    <span>身份证号:</span>
                    <input class="form-control" require="number(18)" type="text" ng-model="faka.user.idcard"/>
                </div>
                <div>
                    <span>车牌号:</span>
                    <input class="form-control" require="notEmpty" type="text" ng-model="faka.car.number"/>
                </div>
                <div>
                    <span>车类型:</span>
                    <select class="form-control" require="notEmpty"  ng-model="faka.car.typeid">
                        <option ng-repeat="type in faka.cartypes" value="{{type.id}}">{{type.name}}</option>
                    </select>
                </div>
                <div style="text-align:center;margin-top: 25px;">
                    <span class="btn btn-primary">清除</span>
                    <span class="btn btn-primary" style="margin-left: 50px;"  ng-click="faka.submit()">提交</span>
                </div>
            </div>
        </div>
        <div class="business-block guashi panel panel-primary" ng-show="currentBusiness=='guashi'">
            <div class="panel-heading">
                <span>管理卡</span>
            </div>
            <div class="control-group form-horizontal search">
                <span>身份证号:</span>
                <input class="" ng-model="guashi.idcard" type="text" />
                <span class="btn btn-primary btn-xs" ng-click="guashi.findCard()">查询</span>
            </div>
            <div ng-show="guashi.card">
                <table class="table table-striped table-hover">
	                <thead>
	                    <tr>
	                        <th class="t_center">用户名</th>
	                        <th class="t_center">手机号</th>
	                        <th class="t_center">车牌号</th>
	                        <th class="t_center">余额</th>
	                        <th class="t_center">卡类型</th>
	                        <th class="t_center">卡状态</th>
	                        <th class="t_center">操作</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr>
	                        <td class="t_center">{{guashi.user.name}}</td>
	                        <td class="t_center">{{guashi.user.number}}</td>
	                        <td class="t_center">{{guashi.user.car.carNumber}}</td>
	                        <td class="t_center">{{guashi.card.balance}}</td>
	                        <td class="t_center">{{guashi.card.type.name}}</td>
	                        <td class="t_center">{{guashi.card.state.name}}</td>
	                        <td class="t_center">
                                <span class="btn btn-danger btn-xs" ng-click="guashi.changeCardState(guashi.card.id)">{{guashi.card.state.name=='挂失'?'激活':'挂失'}}</span>
	                        </td>
	                    </tr>
	                </tbody>
	            </table>
            </div>
        </div>
        <div class="business-block qrcode panel panel-primary" ng-show="currentBusiness=='qrcode'">
            <div class="panel-heading">
                <span>公司二维码</span>
            </div>
            <div style="text-align:center;">
                <img src="/img/qrcode.jpg" />
            </div>
        </div>
        <div class="business-block cardlist panel panel-primary" ng-show="currentBusiness=='cardlist'">
            <div class="panel-heading">
                <span>列表</span>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="t_center">卡号</th>
                        <th class="t_center">用户名</th>
                        <th class="t_center">手机号</th>
                        <th class="t_center">车牌号</th>
                        <th class="t_center">余额</th>
                        <th class="t_center">卡类型</th>
                        <th class="t_center">卡状态</th>
                        <th class="t_center">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="card in cardlist.cards">
                        <td class="t_center">{{card.id}}</td>
                        <td class="t_center">{{card.user.name}}</td>
                        <td class="t_center">{{card.user.phone}}</td>
                        <td class="t_center">{{card.user.car.carNumber}}</td>
                        <td class="t_center">{{card.balance}}</td>
                        <td class="t_center">{{card.type.name}}</td>
                        <td class="t_center">{{card.state.name}}</td>
                        <td class="t_center">
                            <a ng-click="cardlist.banCard(card.id)" href="javascript: void(0)">禁用</a>
                            <a ng-click="cardlist.unbanCard(card.id)" href="javascript: void(0)">激活</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagenation go-page="cardlist.gotoPage(page)" total-pages="cardlist.totalPages" change-size="changeRowNums(num)" style="position: absolute;right: 0;bottom: 0;"></pagenation>
        </div>
        <div class="alert alert-dismissible alert-success operate-result ng-hide" ng-show="result">操作成功.</div>
    </div>
</div>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/validation.js"></script>
<script type="text/javascript" src="/js/business.js"></script>
</body>
</html>