<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/substation.css}" rel="stylesheet" />
<link th:href="@{/bootstrap-3.3.4-dist/css/bootstrap.min.css}" rel="stylesheet" />
<title>加气站管理系统</title>
</head>
<body>
<div th:include="header" style="width:100%;"></div>
<div class="substation" ng-controller="substation">
    <div class="main">
        <div class="employee-list border">
            <div class="table">
                <div class="title block-title">
                    <span class="ng-cloak">站点总数:<strong>{{totalCount}}</strong></span>
                    <span class="addUserBtn btn" ng-click="addSubStationPopup()">添加子站</span>
                </div>
                <ul class="table-title">
                    <li class="col col1 underline" ng-click="changeSort('name')">公司名</li>
                    <li class="col col2 underline" ng-click="changeSort('location')">位置</li>
                    <li class="col col3">负责人</li>
                    <li class="col col4">手机号</li>
                    <li class="col col5 underline" ng-click="changeSort('freeGasNumber')">剩余气体量</li>
                    <li class="col col6">操作</li>
                </ul>
                <ul class="table-content ng-cloak" ng-repeat="company in companys">
                    <li class="col col1 underline"><a href="javascript:void(0)" ng-click="changePage('detail')">{{company.name}}</a></li>
                    <li class="col col2">{{company.location}}</li>
                    <li class="col col3">{{company.leader}}</li>
                    <li class="col col4">{{company.phone}}</li>
                    <li class="col col5">{{company.freeGasNumber}}</li>
                    <li class="col col6">
                        <span class="glyphicon glyphicon-edit" ng-click="editCompany(company.id)"></span>
                        <span class="glyphicon glyphicon-remove" style="margin-left: 5px;"  ng-click="deleteCompany(company.id)"></span>
                    </li>
                </ul>
            </div>
            <pagenation go-page="gotoPage(page)" total-pages="totalPages" change-size="changeRowNums(num)"></pagenation>
        </div>
    </div>
    <div class="addSubStation ng-hide" ng-show="showAddSubStation">
        <div class="addSubStationMask"></div>
        <div class="table">
                <div class="title block-title-backcolor">
                    <span style="font-size: 14pt;">添加子站</span>
                    <span class="close right btn" ng-click="closeaddSubStationPopup()">X</span>
                </div>
                <div class="item">
                    <span class="col col1">子站名:</span>
                    <input type="text" class="col col2" ng-model="addSubStation.name"/>
                </div>
                <div class="item">
                    <span class="col col1">位置:</span>
                    <input type="text" class="col col2" ng-model="addSubStation.location"/>
                </div>
                <div class="item">
                    <span class="col col1">负责人工号:</span>
                    <input type="text" class="col col2" ng-model="addSubStation.leadingUser"/>
                </div>
                <div class="item">
                    <span class="col col1">剩余气体量:</span>
                    <input type="text" class="col col2" ng-model="addSubStation.freeGasNumber" />
                </div>
                <div class="btngroup">
                    <span class="btn btn-reset btn-primary" ng-click="reset()">清除</span>
                    <span class="btn btn-submit btn-primary" ng-click="submit()">提交</span>
                </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/substation.js"></script>
</body>
</html>