<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/users.css}" rel="stylesheet" />
<link th:href="@{/bootstrap-3.3.4-dist/css/bootstrap.min.css}" rel="stylesheet" />
<title>加气站管理系统</title>
</head>
<body>
<div th:include="header" style="width:100%;"></div>
<div class="users" ng-controller="users">
    <div class="main">
        <div class="employee-list border">
            <div class="table">
                <div class="title block-title">
                    <span class="ng-cloak">员工总数:<strong>{{totalCount}}</strong></span>
                    <span class="addUserBtn btn" ng-click="showAddUserPopup()">添加员工</span>
                </div>
                <ul class="table-title">
                    <li class="col col1 underline" ng-click="changeSort('name')">姓名</li>
                    <li class="col col2 underline" ng-click="changeSort('number')">工号</li>
                    <li class="col col3 underline" ng-click="changeSort('company')">公司</li>
                    <li class="col col4">手机号</li>
                    <li class="col col5">身份证</li>
                    <li class="col col6">操作</li>
                </ul>
                <ul class="table-content ng-cloak" ng-repeat="user in users">
                    <li class="col col1 underline"><a href="javascript:void(0)" ng-click="changePage('detail')">{{user.name}}</a></li>
                    <li class="col col2">{{user.number}}</li>
                    <li class="col col3">{{user.company.name}}</li>
                    <li class="col col4">{{user.phone}}</li>
                    <li class="col col5">{{user.idcard}}</li>
                    <li class="col col6">
                        <span class="glyphicon glyphicon-edit" ng-click="editUser(user.id)"></span>
                        <span class="glyphicon glyphicon-remove" style="margin-left: 5px;" ng-click="deleteUser(user.id)"></span>
                    </li>
                </ul>
            </div>
            <pagenation go-page="gotoPage(page)" total-pages="totalPages" change-size="changeRowNums(num)"></pagenation>
        </div>
    </div>

    <div class="addUser ng-hide" ng-show="showAddUser">
        <div class="addUserMask"></div>
        <div class="table">
                <div class="title block-title-backcolor">
                    <span style="font-size: 14pt;">添加员工</span>
                    <span class="close btn right" ng-click="closeAddUserPopup()">X</span>
                </div>
                <div class="item">
                    <span class="col col1">姓名:</span>
                    <input type="text" class="col col2" ng-model="adduser.name"/>
                </div>
                <div class="item">
                    <span class="col col1">工号:</span>
                    <input type="text" class="col col2" ng-model="adduser.number"/>
                </div>
                <div class="item">
                    <span class="col col1">手机号:</span>
                    <input type="text" class="col col2" ng-model="adduser.phone"/>
                </div>
                <div class="item">
                    <span class="col col1">身份证号:</span>
                    <input type="text" class="col col2" ng-model="adduser.idcard" />
                </div>
                <div class="item">
                    <span class="col col1">所属站点:</span>
                    <select class="col col2" ng-model="adduser.company.id">
                        <option ng-repeat="item in companys" value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
                <div class="btngroup">
                    <span class="btn btn-reset btn-primary" ng-click="resetEmployee()">清除</span>
                    <span class="btn btn-submit btn-primary" ng-click="saveEmployee()">提交</span>
                </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/users.js"></script>
</body>
</html>