<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/users.css}" rel="stylesheet" />
<title>加气站管理系统</title>
</head>
<body>
<div th:include="header" style="width:100%;"></div>
<div class="users" ng-controller="users">
    <div class="left-nav">
        <ul>
            <li class="topborder bottomborder" ng-class="{leftactive:leftNav=='employee'}" ng-click="changeLeftNav('employee')">员工管理</li>
            <li ng-class="{leftactive:leftNav=='customer'}" ng-click="changeLeftNav('customer')">客户管理</li>
            <li class="topborder bottomborder" ng-class="{leftactive:leftNav=='addUser'}" ng-click="changeLeftNav('addUser')">添加用户</li>
        </ul>
    </div>
    <div class="main" ng-show="leftNav=='employee'">
        <div class="employee-list border">
            <div class="table">
                <div class="title block-title-backcolor">
                    <span>员工总数:<strong>{{totalCount}}</strong></span>
                </div>
                <ul class="table-title">
                    <li class="col col1 underline" ng-click="changeSort('name')">姓名</li>
                    <li class="col col2 underline" ng-click="changeSort('number')">工号</li>
                    <li class="col col3 underline" ng-click="changeSort('companyid')">公司</li>
                    <li class="col col4">手机号</li>
                    <li class="col col5">身份证</li>
                    <li class="col col6">操作</li>
                </ul>
                <ul class="table-content" ng-repeat="user in users">
                    <li class="col col1 underline"><a href="javascript:void(0)" ng-click="changePage('detail')">{{user.name}}</a></li>
                    <li class="col col2">{{user.number}}</li>
                    <li class="col col3">{{user.company.name}}</li>
                    <li class="col col4">{{user.phone}}</li>
                    <li class="col col5">{{user.cardid}}</li>
                    <li class="col col6">
                        <span class="underline">编辑</span>
                        <span class="underline">禁用</span>
                    </li>
                </ul>
            </div>
            <pagenation go-page="gotoPage(page)" total-count="totalCount" change-size="changeRowNums(num)"></pagenation>
        </div>
    </div>
    <div class="customer" ng-show="leftNav=='customer'">
        <div class="customer-list border">
            <div class="table">
                <div class="title block-title-backcolor">
                    <span>客户总数:<strong>{{totalCount}}</strong></span>
                </div>
                <ul class="table-title">
                    <li class="col col1 underline" ng-click="changeSort('name')">姓名</li>
                    <li class="col col2 underline" ng-click="changeSort('number')">车牌号</li>
                    <li class="col col3 underline" ng-click="changeSort('companyid')">车类型</li>
                    <li class="col col4">手机号</li>
                    <li class="col col5">身份证</li>
                    <li class="col col6">操作</li>
                </ul>
                <ul class="table-content" ng-repeat="user in users">
                    <li class="col col1 underline"><a href="javascript:void(0)" ng-click="changePage('detail')">{{user.name}}</a></li>
                    <li class="col col2">{{user.car.carNumber}}</li>
                    <li class="col col3">{{user.company.name}}</li>
                    <li class="col col4">{{user.phone}}</li>
                    <li class="col col5">{{user.cardid}}</li>
                    <li class="col col6">
                        <span class="underline">编辑</span>
                        <span class="underline">禁用</span>
                    </li>
                </ul>
            </div>
            <pagenation go-page="gotoPage(page)" total-count="totalCount" change-size="changeRowNums(num)"></pagenation>
        </div>
    </div>
    <div class="addUser" ng-show="leftNav=='addUser'">
        <div class="add-user border">
            <div class="table">
                <div class="title block-title-backcolor">
                    <select>
                        <option>添加顾客</option>
                        <option>添加员工</option>
                    </select>
                </div>
                <div>

                </div>
            </div>
            <pagenation go-page="gotoPage(page)" total-count="totalCount" change-size="changeRowNums(num)"></pagenation>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/users.js"></script>
</body>
</html>