.customer-card .submitbtn{
    margin-top: 20px;
}
.customer-card .small-qrcode{
    width: 80px;
}
.t_center{
    text-align: center;
}
/* ------------ history ------------- */
.customer-card .closeBtn {
    position: absolute;
    top: 0px;
    right: 0px;
    color: black;
    padding: 5px;
}
.recharge {
    color: green;
}
.cost {
    color: red;
}
.validation-error {
    border-color: red !important;
}
