/* -------------- business common css ------------------ */
.business {
    padding: 10px;
}
.business .page-title {
    background-color: #bfbfbf;
    padding: 5px;
    margin-bottom: 15px;
}
.business .page-title img{
    width: 20px;
    vertical-align: middle;
    cursor: pointer;
}
.business .page-title span{
    vertical-align: middle;
    margin-left: 5px;
    cursor: pointer;
    color: black;
}

.business .topborder {
    border-top: 1px solid #bfbfbf;
}
.business .rightborder {
    border-right: 1px solid #bfbfbf;
}
.business .bottomborder {
    border-bottom: 1px solid #bfbfbf;
}
.business .leftborder {
    border-left: 1px solid #bfbfbf;
}
/* -------------- left-nav css ------------------ */
.business .left-nav {
    min-height: 770px;
    width: 200px;
    display: inline-block;
    box-sizing: border-box;
}
.business .left-nav .left-nav-item{
    line-height: 40px;
    text-align: center;
    box-sizing: border-box;
    font-size: 16pt;
    cursor: pointer;
}
.business .left-nav .leftActive{
    background-color: #ebebeb;
}
/* -------------- business css ------------------ */
.business .main {
    margin-left: 220px;
}
/* -------------- cost css ------------------ */
.business .main .business-block {
    min-height: 770px;
    box-sizing: border-box;
    text-align: center;
}
.business .main .business-block .cost-table{
    width: 200px;
    display: inline-block;
    margin-top: 5%;
}
.business .main .business-block .cost-table input{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* -------------- card list css ------------------ */
.business .main .cardlist {
    position: relative;
}

/* -------------- jihuo css ------------------ */
.business .main .qrcode img{
    width: 30%;
    
}
/* -------------- guashi css ------------------ */
.business .main .guashi .search{
    margin: 10px;
}
.business .main .guashi td{
    vertical-align: middle;
}
.business .main .operate-result{
    position: absolute;
    top: 100px;
    width: 120px;
    left: 731px;
    line-height: 11px;
    height: 43px;
}