/* -------------- business common css ------------------ */
.business {
    padding: 10px;
}
.business .page-title {
    background-color: #bfbfbf;
    padding: 5px;
    margin-bottom: 15px;
}
.business .page-title img{
    width: 20px;
    vertical-align: middle;
    cursor: pointer;
}
.business .page-title span{
    vertical-align: middle;
    margin-left: 5px;
    cursor: pointer;
    color: black;
}

.business .topborder {
    border-top: 1px solid #bfbfbf;
}
.business .rightborder {
    border-right: 1px solid #bfbfbf;
}
.business .bottomborder {
    border-bottom: 1px solid #bfbfbf;
}
.business .leftborder {
    border-left: 1px solid #bfbfbf;
}
/* -------------- left-nav css ------------------ */
.business .left-nav {
    min-height: 770px;
    width: 200px;
    display: inline-block;
    box-sizing: border-box;
}
.business .left-nav .left-nav-item{
    line-height: 40px;
    text-align: center;
    box-sizing: border-box;
    font-size: 16pt;
    cursor: pointer;
}
.business .left-nav .leftActive{
    background-color: #ebebeb;
}
/* -------------- business css ------------------ */
.business .main {
    margin-left: 220px;
}
/* -------------- cost css ------------------ */
.business .main .business-block {
    min-height: 770px;
    box-sizing: border-box;
    text-align: center;
}
.business .main .business-block .cost-table{
    width: 200px;
    display: inline-block;
    margin-top: 10%;
}
.business .main .business-block .cost-table input{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* -------------- card list css ------------------ */
.business .main .cardlist {
    
}
.business .main .cardlist .table {
    min-height: 720px;
}
.business .main .cardlist .table-item {
    margin-top: 10px;
    margin-bottom: 10px;
}
.business .main .cardlist .table li{
    display: inline-block;
    width: 10%;
    text-align:center;
}
.business .main .cardlist .table .col1{
    width: 20%;	
    vertical-align: middle;
}

/* -------------- jihuo css ------------------ */
.business .main .jihuo li{
    display: inline-block;
    width: 10%;
    text-align:center;
}
.business .main .jihuo .col1{
    width: 20%;	
    vertical-align: middle;
}
/* -------------- guashi css ------------------ */
.business .main .guashi li{
    display: inline-block;
    width: 100%;
}
.business .main .guashi .search-result{
    width: 200px;
    display:inline-block;
}
.business .main .guashi .search-result .col1{
    width: 50%;	
    text-align: right;
    display: inline-block;
}
.business .main .guashi .search-result .col2{	
    display: inline-block;
    text-align: left;
}