/* -------------- data common css ------------------ */
.data {
    padding: 10px;
}
.data .page-title {
    background-color: #bfbfbf;
    padding: 5px;
    margin-bottom: 15px;
}
.data .page-title img{
    width: 20px;
    vertical-align: middle;
    cursor: pointer;
}
.data .page-title span{
    vertical-align: middle;
    margin-left: 5px;
    cursor: pointer;
    color: black;
}

.data .topborder {
    border-top: 1px solid #bfbfbf;
}
.data .rightborder {
    border-right: 1px solid #bfbfbf;
}
.data .bottomborder {
    border-bottom: 1px solid #bfbfbf;
}
.data .leftborder {
    border-left: 1px solid #bfbfbf;
}

/* -------------- data list css ------------------ */
.data .main .company-list{
    min-height: 750px;
}
.data .main .table{
    min-height: 750px;
}
.data .main .company-list .title{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.data .main .company-list .title .search{
    margin-right: 20px;
}
.data .main .company-list .title span{
    margin-right: 10px;
    margin-left: 10px;
}
.data .main .company-list .addUserBtn{
    width: 100px;
    border: 1px solid;
    display: inline-block;
    text-align: center;
    background-color: white;
    float: right;
    margin-right: 20px;
    cursor: pointer;
}
.data .main .company-list .col{
    display: inline-block;
    text-align: center;
    line-height: 30px;
}
.data .main .company-list .col1{
    width: 15%;
    cursor: pointer;
}
.data .main .company-list .col2{
    width: 10%;
}
.data .main .company-list .col3{
    width: 15%;
}
.data .main .company-list .col4{
    width: 140px;
}
.data .main .company-list .col5{
    width: 170px;
}
.data .main .company-list .col6{
    width: 150px;
}
.data .main .company-list .col6 span{
    cursor: pointer;
}
