/* -------------- permission common css ------------------ */
.permission {
    padding: 10px;
}

.permission .topborder {
    border-top: 1px solid #bfbfbf;
}
.permission .rightborder {
    border-right: 1px solid #bfbfbf;
}
.permission .bottomborder {
    border-bottom: 1px solid #bfbfbf;
}
.permission .leftborder {
    border-left: 1px solid #bfbfbf;
}

/* -------------- employee list css ------------------ */
.permission .main .employee-list{
    min-height: 750px;
}
.permission .main .content{
    min-height: 750px;
}
.permission .operate{
    display: inline-block;
    width: 80%;
    text-align: center;
}
/* -------------- 用户名 css ------------------ */
.permission .user-role{
    min-height: 750px;
    position: relative;
}
.permission .user-role .titleBtn{
    width: 100px;
    border: 1px solid;
    display: inline-block;
    text-align: center;
    background-color: white;
    float: right;
    margin-right: 20px;
    cursor: pointer;
    padding: 0;
}
.permission .user-role .content{
    min-height: 750px;
}
/* --------------add user css ------------------ */
.permission .addUser .addUserMask{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}
.permission .addUser .content{
    display: inline-block;
    background-color: white;
    width: 400px;
    position: absolute;
    top: 30%;
    left: 35%;
    height: auto !important;
    min-height: 0;
}

.permission .addUser .content .panel-heading{
    margin-bottom: 10px;
}

.permission .addUser .content .col{
    display: inline-block;
    height: 30px;
    margin-top: 10px;
}
.permission .addUser .content .col1{
    width: 130px;
    text-align: right;
}
.permission .addUser .content .col2{
    width: 200px;
    box-sizing: border-box;
}
.permission .addUser .content .btngroup{
    margin-top: 30px;
    margin-bottom: 20px;
}
.permission .addUser .content .btngroup .btn{
    border: 1px solid;
    line-height: 30px;
    display: inline-block;
    width: 120px;
    text-align: center;
}
.permission .addUser .content .btngroup .btn-reset{
    margin-left: 50px;
    cursor: pointer;
}
.permission .addUser .content .btngroup .btn-submit{
    float: right;
    margin-right: 50px;
    cursor: pointer;
}
