/* -------------- setting common css ------------------ */
.setting {
    padding: 10px;
}
.setting .page-title {
    background-color: #bfbfbf;
    padding: 5px;
    margin-bottom: 15px;
}
.setting .page-title img{
    width: 20px;
    vertical-align: middle;
    cursor: pointer;
}
.setting .page-title span{
    vertical-align: middle;
    margin-left: 5px;
    cursor: pointer;
    color: black;
}

.setting .topborder {
    border-top: 1px solid #bfbfbf;
}
.setting .rightborder {
    border-right: 1px solid #bfbfbf;
}
.setting .bottomborder {
    border-bottom: 1px solid #bfbfbf;
}
.setting .leftborder {
    border-left: 1px solid #bfbfbf;
}

/* -------------- employee list css ------------------ */
.setting .table {
    min-height: 770px;
}
.setting .table ul{
    margin-top: 20px;
}
.setting .table .col{
    display: inline-block;
}
.setting .table .col1{
    width: 40%;
    text-align: right;
    box-sizing: border-box;
    padding-right: 20px;
}
.setting .table .col2 input{
    width: 230px;
}
.setting .table .col2 textarea{
    width: 230px;
    height: 100px;
    resize: none;
    vertical-align: text-top;
    outline: none;
}
.setting .table .update{
    border: 1px solid #000;
    display: inline-block;
    line-height: 30px;
    width: 120px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    left: 150px;
    top: 25px;
}

.setting .dataset {
    display: inline-block;
    width: 120px;
    padding-top: 10px;
}
.setting .dataset span{
    margin-bottom: 10px;
}