/* -------------- users common css ------------------ */
.users {
    padding: 10px;
}
.users .page-title {
    background-color: #bfbfbf;
    padding: 5px;
    margin-bottom: 15px;
}
.users .page-title img{
    width: 20px;
    vertical-align: middle;
    cursor: pointer;
}
.users .page-title span{
    vertical-align: middle;
    margin-left: 5px;
    cursor: pointer;
    color: black;
}

.users .topborder {
    border-top: 1px solid #bfbfbf;
}
.users .rightborder {
    border-right: 1px solid #bfbfbf;
}
.users .bottomborder {
    border-bottom: 1px solid #bfbfbf;
}
.users .leftborder {
    border-left: 1px solid #bfbfbf;
}

/* -------------- employee list css ------------------ */
.users .main .employee-list{
    min-height: 750px;
}
.users .main .table{
    min-height: 750px;
}
.users .main .employee-list .title{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.users .main .employee-list .addUserBtn{
    width: 100px;
    border: 1px solid;
    display: inline-block;
    text-align: center;
    background-color: white;
    float: right;
    margin-right: 20px;
    cursor: pointer;
}
.users .main .employee-list .col{
    display: inline-block;
    text-align: center;
    line-height: 30px;
}
.users .main .employee-list .col1{
    width: 15%;
    cursor: pointer;
}
.users .main .employee-list .col2{
    width: 10%;
}
.users .main .employee-list .col3{
    width: 15%;
}
.users .main .employee-list .col4{
    width: 140px;
}
.users .main .employee-list .col5{
    width: 170px;
}
.users .main .employee-list .col6{
    width: 150px;
}

/* --------------add user css ------------------ */
.users .addUser .addUserMask{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}
.users .addUser .table{
    display: inline-block;
    background-color: white;
    width: 400px;
    position: absolute;
    top: 30%;
    left: 30%;
}
.users .addUser .table .title{
    line-height: 40px;
    text-align: left;
    padding-left: 20px;
}
.users .addUser .table .title .close{
    margin-right: 20px;
    cursor: pointer;
}
.users .addUser .table .col{
    display: inline-block;
    height: 30px;
    margin-top: 10px;
}
.users .addUser .table .col1{
    width: 130px;
    text-align: right;
}
.users .addUser .table .col2{
    width: 200px;
    box-sizing: border-box;
}
.users .addUser .table .btngroup{
    margin-top: 30px;
    margin-bottom: 20px;
}
.users .addUser .table .btngroup .btn{
    border: 1px solid;
    line-height: 30px;
    display: inline-block;
    width: 120px;
    text-align: center;
}
.users .addUser .table .btngroup .btn-reset{
    margin-left: 50px;
    cursor: pointer;
}
.users .addUser .table .btngroup .btn-submit{
    float: right;
    margin-right: 50px;
    cursor: pointer;
}
