<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link th:href="@{/css/wx/business.css}" rel="stylesheet" />
<title>加气站管理系统</title>
</head>
<body>
<div class="business" ng-controller="wxbusiness">
    <div>
        <span>单价</span>
        <input type="text" />
    </div>
    <div>
        <span>加气量</span>
        <input type="text" />
    </div>
    <div>
        <span>总价</span>
        <input type="text" />
    </div>
    <div>
        <span ng-click="submit()">扫码确认</span>
    </div>
</div>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/angular.min.js"></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/wx/business.js"></script>
</body>
</html>